apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-deployment
  namespace: kubetests
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      containers:
        - name: flask
          image: flask:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
          env:
            - name: APP_MESSAGE
              value: "First K8s deployment"
